/* -*- coding: utf-8 -*-
* vim: tabstop=2 shiftwidth=2 softtabstop=2
*
* ESP32_PWM_TRAIN - A basic PWM controller for DC trains
* Copyright (C) 2022 Daniele Viganò <daniele@vigano.me>
*
* ESP32_PWM_TRAIN is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ESP32_PWM_TRAIN is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
* 
* Inspired by https://randomnerdtutorials.com/esp32-web-server-slider-pwm/
*/

#define RESOLUTION 8
#define FREQUENCY 122  // 122 Hz

#define SECRET_SSID "<fillme>"
#define SECRET_PASSWORD "<fillme>"
